html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    background-color: #fbfbfb;
}

h1 {
    font-family: "Heebo";
}


/* HEADER START */

nav {
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}


ul.menu {
    list-style: none;
    padding: 1.5rem 2.5rem 0rem 1.5rem;
    margin: 0;
}

.menu li {
    display: inline-block;
    font-size: 1.1rem;
}

.menu li a.menu-text {
    color: #0D2F55;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    transition: 0.3s ease;
    margin: 0 0.5rem 0rem 0.5rem;
    font-family: "Heebo";
}

.menu li a.menu-text:hover {
    border-bottom: #0D2F55 4px solid;
    border-radius: 0%;
}

#logo {
    margin-left: 24px;
    width: 65px;
    display: inline-block;
    padding-top: 27%;
}

#buy {
    text-transform: uppercase;
    font-weight: 900;
    border: 2px #6A5F8F solid;
    border-radius: 17px;
    padding: 8% 29% 5% 29%;
    color: #6A5F8F;
}

#buy:hover {
    color: white;
    background-color: #6A5F8F;
}

#buy-sticky {
    text-transform: uppercase;
    font-weight: 900;
    border: 2px #6A5F8F solid;
    border-radius: 17px;
    padding: 8% 29% 5% 29%;
    color: #6A5F8F;
}
#buy-sticky:hover {
    color: white;
    background-color: #6A5F8F;
}
/* MAIN START */

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    color: #0D2F55;
}

#sticky-logo {
    margin-left: 24px;
    width: 65px;
    display: inline-block;
    padding-top: 27%;
}

.menu li a.sticky-menu-text {
    color: #0D2F55;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    transition: 0.3s ease;
    margin: 0rem 0.5rem 0rem 0.5rem;
    font-family: "Heebo";
}

.menu li a.sticky-menu-text:hover {
    border-bottom: #0D2F55 4px solid;
    border-radius: 0%;
}

/* ---- Campaign ---- */

section#campaign {
    justify-content: space-between;
    align-items: stretch;
    background-color: #fbfbfb;
}

#campaign #bilde {
    width: 60vw;
    margin: 0;
    padding: 0;
    background-image: url("../img/background-wide.gif");
    background-size: cover;
    background-position: left top;
}

#headline {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12% 4% 4% 4%;
}

h1.headline-bold {
    margin: 0 0 9px 0;
    font-family: 'Poppins';
    font-weight: 700;
    font-style: italic;
    font-size: 6vw;
    color: #0D2F55;
}

p#headline-text {
    margin: 40px 0 50px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D2F55;
    font-size: 1.5vw;
}

a#read-more {
    color: #6A5F8F;
    border: 3px solid #6A5F8F;
    border-radius: 5vw;
    margin-right:50%;
    text-align: center;
    padding: 1vw 1.2vw 1vw 1.2vw;
    font-weight: 600;
    font-size: 1.5vw;
}

a#read-more:hover {
    background-color: #6A5F8F;
    color: white;
}

/* ---- Campaign END ---- */



a {
    text-decoration: none;
    color: black;
}

h1.section-title {
    font-size: 4.5vw;
    color: #6A5F8F;
    margin: 0 0 1.5% 0;
}

h2.section-subtitle {
    font-size: 2vw;
    font-style: italic;
    font-weight: 100;
    color: #0D2F55;
    margin: 0;
}

/* Featured Section - Start  */

/* STRAPS START */

#straps {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
}

#strap-container1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

#strap-container2 {
    text-align: center;
    padding-bottom: 2rem;
}

#strap-row1 {
    width: 60%;
    padding-right: 5%;
}

#strap-row2 {
    width: 40%;
}

img#straps {
    width: 130%;
    height: 130%;
}


/* STRAPS END */

/* HELMET START */

section#helmet {
    background-color: #C1BECF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
}

#helmet-container1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#helmet-container2 {
    text-align: center;
    padding-bottom: 2rem;
}

#helmet-row1 {
    width: 40%;
}

#helmet-row2 {
    width: 60%;
    padding-left: 15%;
}

img#beanie {
    width: 130%;
    height: 130%;
}

/* HELMET END */


/* THERMOSTAT START */

#thermostat {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
}

#thermo-container1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#thermo-container2 {
    text-align: center;
    padding-bottom: 2rem;
}

#thermo-row1 {
    width: 65%;
}

#thermo-row2 {
    width: 35%;
}

img#thermo {
    width: 90%;
    height: 90%;
    border-radius: 20%;
}

/* THERMOSTAT END */

/* ANIMATION START */

#animation {
    background-color: #C1BECF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/animasjon.gif");
    background-size: cover;
    background-position: left top;
}

#animation-container1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#animation-container2 {
    text-align: center;
    padding-bottom: 2rem;
}

#animation-row1 {
    margin-right: 10%;
    margin-top: 10%
}

#buy-button {
    margin-top: 20%;
}

a#buy-button {
    color: #6A5F8F;
    border: 3px solid #6A5F8F;
    border-radius: 40px;
    text-align: center;
    padding: 3% 6% 3% 6%;
    font-weight: 600;
    font-size: 1.5rem;
}

a#buy-button:hover {
    background-color: #6A5F8F;
    color: white;
}

/* ANIMATION END */

/* Featured Section - END  */

/* MAIN END*/

@media (max-width:900px) {
    #buy {
        border: 2px rgb(255, 255, 255) solid;
        color: rgb(255, 255, 255);
    }
    #buy:hover {
        background: white;
        color: #6A5F8F;
    }


    .menu li a.menu-text {
        margin: 0rem 0.2rem 0rem 0.2rem;
    }

    .menu li a.sticky-menu-text {
        margin: 0rem 0.2rem 0rem 0.2rem;
    }

    section {
        min-height: 100vh;
    }

    h1.section-title {
        font-size: 5vw;
        color: #6A5F8F;
        margin-top: 10vh;
        margin-bottom: 2vh;
        text-align: center;
    }
    
    h2.section-subtitle {
        font-size: 3vw;
        font-style: italic;
        font-weight: 100;
        color: #0D2F55;
        margin: 0;
        text-align: center;
    }

    .menu li a.menu-text {
        color: white;
    }
    .menu li a.menu-text:hover {
        border-bottom: white 4px solid;
        border-radius: 0%;
    }

    
    /*CAMPAIGN*/

    #campaign {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #campaign #bilde{
      
        margin: 0;
        padding: 0;
        background-image: url("../img/background-small.gif");
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        background-position: none;
        width: 100%;
    }
    

    #headline {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-left: 28vw;
        padding-right: 25vw;
        padding-bottom: 0;
        bottom: 5vh;
    }

    h1.headline-bold {
        font-size: 4rem;
    }

    p#headline-text {
        margin: 26px 0 26px 0;
    }

   a#read-more{
        padding:0;
        margin-right:0;
        font-size: 100%;
        padding: 1.2vw 1vw 1.2vw 1vw;
        margin: 0 20%;
    }

    
    /*STRAPS*/

    #strap-container1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: space-between;
        width: 100%;
    }
    
    #strap-container2 {
        text-align: center;
        padding-bottom: 2rem;
    }
    
    #strap-row1 {
        width: 60%;
        padding-bottom: 5%;
    }
    
    #strap-row2 {
        width: 40%;
    }
    
    img#straps {
        width: 100%;
        height: 100%;
    }

    /*HELMET*/
    #helmet-container1 {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #helmet-container2 {
        text-align: center;
        padding-bottom: 2rem;
    }
    
    #helmet-row1 {
        width: 40%;
    }
    
    #helmet-row2 {
        width: 60%;
        padding: 0 0 5% 0;
    }
    
    img#beanie {
        width: 100%;
        height: 100%;
    }

    /*THERMO*/
    #thermo-container1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: space-between;
        width: 100%;
    }
    
    #thermo-container2 {
        text-align: center;
        padding-bottom: 2rem;
    }
    
    #thermo-row1 {
        width: 60%;
        padding-bottom: 5%;
    }
    
    #thermo-row2 {
        width: 40%;
    }
    
    img#thermo {
        width: 100%;
        height: 100%;
    }

    /*ANIMATION*/
    #animation{
        background-image: none;
        background-image: url(../img/animasjon.gif);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #animation-container1 {
        display: flex;
        flex-direction: column-reverse;   
    }

    h1#animation-title.section-title, 
    h2#animation-subtitle.section-subtitle{
        text-align: left;
        padding: 0;
    }

    h1#animation-title.section-title{
        margin-bottom: 0;
    }
    
    #animation-row1 {
        width: 100%;
    }
    
    a#buy-button {
        color: #6A5F8F;
        border: 3px solid #6A5F8F;
        border-radius: 40px;
        font-weight: 600;
        font-size: 100%;
    }

    @media (max-width:800px) {
        #headline {
            bottom: 10vh;
        } 
    }

    @media (max-width:700px) {
        #headline {
            bottom: 13vh;
    }

    @media (max-width:600px) {
        #headline {
            bottom: 15vh;
            padding-left: 22vw;
    }

}